<template>
  <v-dialog v-model="open" max-width="590" persistent>
    <v-card>
      <v-card-title class="headline">{{ title }}</v-card-title>
      <v-card-text>{{ text }}</v-card-text>
      <v-card-actions>
        <v-spacer/>
        <v-btn color="green darken-1" flat="flat" @click.native="cancel()">{{ cancelText }}</v-btn>
        <v-btn color="green darken-1" flat="flat" @click.native="ok()">{{ okText }}</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script>
export default {
  props: {
    service: {
      type: Object,
      default: () => ({}),
    },
  },
  data() {
    return {
      open: false,
      title: '',
      text: '',
      cancelText: '',
      okText: '',
      resolve: null,
      reject: null,
    };
  },
  mounted() {
    this.service.setDialogComponent(this);
  },
  methods: {
    ok() {
      this.resolve();
      this.open = false;
    },
    cancel() {
      this.reject();
      this.open = false;
    },
    setCurrentPromise(resolve, reject) {
      this.resolve = resolve;
      this.reject = reject;
    },
  },
};
</script>