<template>
  <v-layout align-content-start column>
    <h1 class="frontport-title">Frontport</h1>
    <v-btn class="restart-button" @click="restartFrontport">Restart frontport</v-btn>
    <!--
    <v-flex column>
      <v-flex>How would you like to configure the frontport process</v-flex>
      <v-flex>
        <v-btn>Automatic</v-btn>
        <v-btn>Manual</v-btn>
      </v-flex>
    </v-flex>
    -->
    <v-flex v-show="loadingTickets">
      <v-progress-linear indeterminate/>
    </v-flex>
    <v-flex v-show="!loadingTickets">Please, select your ticket:</v-flex>
    <v-select
      v-show="!loadingTickets"
      v-model="selectedTicket"
      :items="tickets"
      :item-text="getTicketDisplayText"
      return-object
      color="#3f51b5"
      label="Ticket"
      @input="selectTicket"
    />
    <v-flex v-show="selectedTicket && loadingBranches">
      <v-progress-linear indeterminate/>
    </v-flex>
    <v-flex v-show="selectedTicket && !loadingBranches">
      <v-flex>These are the branches I've found for this ticket</v-flex>
      <v-select
        v-model="selectedSourceBranch"
        :items="ticketBranches"
        :item-text="getBranchDisplayText"
        color="#3f51b5"
        label="Source branch"
        return-object
        @input="selectSourceBranch"
      />
    </v-flex>
    <v-tabs v-show="selectedSourceBranch" v-model="activeTab" fixed-tabs>
      <v-tab v-for="(step, index) in steps" :key="step.name">Step {{ index + 1 }}</v-tab>
      <v-tab-item v-for="(step, index) in steps" :key="step.name">
        <StepBuilder
          :step-number="index + 1"
          :step-type="step.type"
          :step-data="step.data"
          @changeTab="setActiveTab"
        />
      </v-tab-item>
      <!--
      <v-tab-item key="step-7">
        <v-card color="#3f51b5" class="white--text">
          <v-card-title primary-title>
            <div>
              <div class="headline">Step 6: Pull requests</div>
            </div>
          </v-card-title>
          <v-card-text>
            <v-flex>Looks like we are done frontporting!</v-flex>
            <v-flex>I'll create the following PRs</v-flex>
          </v-card-text>
          <v-card-text>
            <v-flex>CORE</v-flex>
            <v-flex>Already exists a PR for hotfix/granda/marcp/AW-2133-dsc-cdsacds</v-flex>
            <v-flex>Will create PR for frontport/develop/marcp/AW-2133-dsc-cdsacds</v-flex>
          </v-card-text>
          <v-card-text>
            <v-flex>EDITABLECONTROLS</v-flex>
            <v-flex>Already exists a PR for frontport/granda/marcp/AW-2133-dsc-cdsacds</v-flex>
            <v-flex>Will create PR for frontport/develop/marcp/AW-2133-dsc-cdsacds</v-flex>
          </v-card-text>
          <v-card-actions>
            <v-btn flat dark>Don't create PRs, let's leave it here</v-btn>
            <v-btn flat dark>Ok, create the selected PRs</v-btn>
          </v-card-actions>
        </v-card>
      </v-tab-item>-->
    </v-tabs>
  </v-layout>
</template>
<script>
import { readFileSync, writeFileSync } from 'fs';

import { constants } from '../utils/constants.js';
import DataService from '../utils/frontport-data-service.js';
import StepBuilder from './Frontport/StepBuilder';

export default {
  components: {
    StepBuilder,
  },
  data() {
    return {
      selectedTicket: undefined,
      selectedSourceBranch: undefined,
      selectedTargetRepo: undefined,
      ticketBranches: [],
      loadingBranches: false,
      loadingTickets: true,
      targetRepos: ['frankfurt.next', 'frankfurt.rc', 'granada.next', 'granada.rc', 'develop'],
      levels: ['frankfurt', 'granada', 'develop'],
      steps: DataService.steps(),
      activeTab: 0,
    };
  },
  computed: {
    tickets() {
      return this.$store.state.Tickets.tickets;
    },
  },
  mounted() {
    this.loadTickets().then(() => {
      const userDataPath = constants.USER_DATA_PATH;
      const filePath = `${userDataPath}/frontport.js`;
      try {
        const oldData = JSON.parse(readFileSync(filePath));

        this.selectedTicket = oldData.selectedTicket;
        this.selectedSourceBranch = oldData.selectedSourceBranch;
        this.selectedTargetRepo = oldData.selectedTargetRepo;
        this.ticketBranches = oldData.ticketBranches;
        this.loadingBranches = oldData.loadingBranches;
        this.loadingTickets = oldData.loadingTickets;
        this.targetRepos = oldData.targetRepos;
        this.levels = oldData.levels;
        DataService.loadSteps(oldData.steps);
        this.steps = DataService.steps();
        this.activeTab = oldData.activeTab;
      } catch (err) {
        console.info('No frontport info found');
      }
    });
  },
  beforeDestroy() {
    const userDataPath = constants.USER_DATA_PATH;
    const filePath = `${userDataPath}/frontport.js`;

    const data = JSON.stringify({
      selectedTicket: this.selectedTicket,
      selectedSourceBranch: this.selectedSourceBranch,
      selectedTargetRepo: this.selectedTargetRepo,
      ticketBranches: this.ticketBranches,
      loadingBranches: this.loadingBranches,
      loadingTickets: this.loadingTickets,
      targetRepos: this.targetRepos,
      levels: this.levels,
      steps: this.steps,
      activeTab: this.activeTab,
    });
    writeFileSync(filePath, data, 'utf8');
  },
  methods: {
    restartFrontport() {
      DataService.clearSteps();

      this.selectedTicket = undefined;
      this.selectedSourceBranch = undefined;
      this.selectedTargetRepo = undefined;
      this.ticketBranches = [];
      this.loadingBranches = false;
      this.loadingTickets = true;
      this.targetRepos = ['frankfurt.next', 'frankfurt.rc', 'granada.next', 'granada.rc', 'develop'];
      this.levels = ['frankfurt', 'granada', 'develop'];
      this.steps = DataService.steps();
      this.activeTab = 0;

      this.loadTickets();
    },
    loadTickets() {
      return this.$store
        .dispatch('jiraGetTickets', {
          user: constants.JIRA_USER,
          password: constants.JIRA_PASSWORD,
          accountId: constants.JIRA_ACCOUNT_ID,
        })
        .then(() => {
          this.loadingTickets = false;
          console.log('Done loading tickets');
        });
    },
    setActiveTab(number) {
      this.activeTab = number;
    },
    getBranches(key) {
      return this.$store.dispatch('bitbucketGetBranches', { key, repos: this.$store.state.Repos.repos });
    },
    getTicketDisplayText(ticket) {
      return `${ticket.key} - ${ticket.fields.summary}`;
    },
    getBranchDisplayText(branch) {
      return `${branch.component} - ${branch.name}`;
    },
    selectTicket() {
      this.selectedSourceBranch = undefined;
      this.loadingBranches = true;
      this.getBranches(this.selectedTicket.key).then(branches => {
        // TODO Remove duplicated names
        this.ticketBranches = branches;
        this.loadingBranches = false;
      });
      // TODO Add warning that it will clear the current frontport action
    },
    selectSourceBranch() {
      DataService.addStep('StepValidation', {
        selectedSourceBranch: this.selectedSourceBranch,
        branches: this.ticketBranches,
        targetRepos: this.targetRepos,
        levels: this.levels,
      });
    },
  },
};
</script>
<style scoped>
.frontport-title {
  margin-bottom: 15px;
}
.restart-button {
  max-width: 170px;
  margin-left: 0;
  margin-bottom: 10px;
  margin-top: 0;
}
</style>