<template>
  <v-layout align-content-start column>
    <h2>My Pull Requests</h2>
    <v-data-table
      :hide-headers="true"
      :items="prs"
      hide-actions
      class="elevation-1 full-width"
      disable-initial-sort
    >
      <template slot="items" slot-scope="props">
        <td
          class="clickable"
          @click="openLink(props.item)"
        >{{ repoName(props.item.source.repository.name) }}</td>
        <td class="clickable" @click="openLink(props.item)">{{ props.item.title }}</td>
        <td class="clickable" @click="openLink(props.item)">{{ props.item.state }}</td>
      </template>
    </v-data-table>
  </v-layout>
</template>
<script>
import axios from 'axios';
import { exec } from 'child_process';

import getPullRequests from '../utils/bitbucket-utils.js';
import { constants } from '../utils/constants.js';

export default {
  data() {
    return {
      prs: [],
    };
  },
  mounted() {
    axios
      .get('https://bitbucket.org/api/2.0/pullrequests/MarcPuigdemont', {
        auth: {
          username: constants.BB_USER,
          password: constants.BB_PASSWORD,
        },
      })
      .then(response => {
        if (response.data.next) {
          console.error(response);
        }
        console.log(response);
        this.prs = getPullRequests(response.data, constants.BB_USER);
      });
  },
  methods: {
    repoName(name) {
      return name.replace('Anywhere ', '').replace('Mobile - ', '');
    },
    openLink(pr) {
      const url = pr.links.self.href.replace('!api/2.0/repositories/', '').replace('pullrequests', 'pull-requests');
      exec(`open ${url}`);
    },
  },
};
</script>
<style scoped>
h2 {
  margin-bottom: 8px;
}
.clickable {
  cursor: pointer;
}
</style>