<template>
  <v-container class="repos-page" text-xs-left>
    <v-layout align-start justify-start column fill-height>
      <v-flex>
        <h2>Anywhere Repos</h2>
      </v-flex>
      <!-- BUTTONS -->
      <v-flex class="buttons">
        <!-- UPDATE -->
        <v-btn color="indigo" dark :disabled="performingAction" @click="update()">
          <v-icon dark>cached</v-icon>
        </v-btn>
        <!-- BRANCHES CHECKOUT -->
        <v-btn
          v-for="version in versions"
          :key="version.name"
          color="indigo"
          dark
          column
          :disabled="performingAction"
          @click="checkout(version.branch)"
        >
          <v-icon dark>exit_to_app</v-icon>
          <span class="button-text">{{ version.name }}</span>
        </v-btn>
        <!-- FEATURE BRANCHES CHECKOUT -->
        <v-btn
          v-for="feature in featureBranches"
          :key="feature.name"
          color="indigo"
          dark
          column
          :disabled="performingAction"
          @click="checkout(feature.branch)"
        >
          <v-icon dark>exit_to_app</v-icon>
          <span class="button-text">{{ feature.name }}</span>
        </v-btn>
        <!-- FETCH && MERGE -->
        <v-btn color="indigo" dark column :disabled="performingAction" @click="fetchAndMerge()">
          <v-icon class="rotate90" dark>exit_to_app</v-icon>
          <span class="button-text">Fetch &amp;&amp; Merge</span>
        </v-btn>
      </v-flex>
      <!-- PROGRESS BAR -->
      <v-flex class="progress-bar">
        <v-progress-linear
          v-show="performingAction"
          :indeterminate="true"
          style="position: absolute;"
        />
      </v-flex>
    </v-layout>
    <!-- REPOS TABLE -->
    <v-layout align-content-start>
      <v-data-table
        :headers="headers"
        :items="selectableRepos"
        hide-actions
        select-all
        class="elevation-1 full-width"
        disable-initial-sort
      >
        <template slot="headers" slot-scope="props">
          <tr>
            <th class="select-checkbox">
              <v-checkbox
                :input-value="allSelected"
                :indeterminate="someSelected"
                primary
                hide-details
                @click.stop="toggleAll"
              />
            </th>
            <th
              v-for="header in props.headers"
              :key="header.text"
              :class="['column sortable', pagination.descending ? 'desc' : 'asc', header.value === pagination.sortBy ? 'active' : '']"
              @click="changeSort(header.value)"
            >
              <v-icon small>arrow_upward</v-icon>
              {{ header.text }}
            </th>
          </tr>
        </template>
        <template slot="items" slot-scope="props">
          <td class="text-xs-center clickable select-checkbox" @click="selectRepo(props.item)">
            <v-checkbox :disabled="!props.item.enabled" :value="props.item.selected" hide-details/>
          </td>
          <td class="text-xs-center clickable" @click="changeRepoState(props.item)">
            <v-icon
              :class="{'repo-enabled' : props.item.enabled, 'repo-disabled' : !props.item.enabled}"
            >{{ props.item.enabled ? 'check' : 'close' }}</v-icon>
          </td>
          <td>{{ props.item.name }}</td>
          <td :class="{'repo-branch-dirty' : props.item.clean === false}">
            <v-layout row align-start align-content-start>
              <SourceTree :component="props.item.name"/>
              <v-flex v-if="props.item.clean === false" class="dirty-label">Changes</v-flex>
              <v-flex>{{ props.item.branch }}</v-flex>
            </v-layout>
          </td>
        </template>
      </v-data-table>
    </v-layout>
  </v-container>
</template>
<script>
import { constants } from '../utils/constants.js';
import SourceTree from './Common/SourceTree';
import DirtyDialogService from '../utils/dirty-dialog-service.js';

// TODO Fix eslint object-shorthand error and move it to where it belongs
function makeReposSelectable(repos) {
  this.$nextTick(() => {
    if (!repos) {
      this.selectableRepos = [];
      return;
    }
    const newSelectableRepos = repos.map(repo => ({ selected: false, ...repo }));
    if (this.selectableRepos.length > 0) {
      // merge
      this.selectableRepos.forEach(repo => {
        const selectableRepo = newSelectableRepos.find(r => r.name === repo.name);
        if (selectableRepo) {
          selectableRepo.selected = repo.selected;
        }
      });
    }
    this.selectableRepos = newSelectableRepos;
  });
}

export default {
  components: {
    SourceTree,
  },
  data() {
    return {
      pagination: {
        sortBy: 'name',
      },
      headers: [
        { text: 'Enabled', value: 'enabled', align: 'left', width: '1%' },
        { text: 'Name', value: 'name', align: 'left', width: '1%' },
        { text: 'Branch', value: 'branch', align: 'left' },
      ],
      selectableRepos: [],
    };
  },
  computed: {
    repos() {
      return this.$store.state.Repos.repos;
    },
    repofile() {
      return this.$store.state.Repos.repofile;
    },
    performingAction() {
      return this.$store.getters.performingAction;
    },
    versions() {
      return constants.ANYWHERE_VERSIONS.reduce((acc, version) => {
        const name = version.name.charAt(0).toUpperCase() + version.name.slice(1);
        if (version.isDevelop) {
          acc.push({ name: 'Develop', branch: 'develop' });
        } else {
          acc.push({ name: `${name}.next`, branch: `release/${name.toLowerCase()}.next` });
          acc.push({ name: `${name}.rc`, branch: `release/${name.toLowerCase()}.rc` });
        }

        return acc;
      }, []);
    },
    featureBranches() {
      return constants.ANYWHERE_FEATURE_BRANCHES;
    },
    selectedRepos() {
      return this.selectableRepos.filter(repo => repo.selected);
    },
    allSelected() {
      return this.selectedRepos.length === this.selectableRepos.length;
    },
    someSelected() {
      return this.selectedRepos.length > 0 && !this.allSelected;
    },
  },
  watch: {
    repos: makeReposSelectable,
  },
  mounted() {
    this.$store.dispatch('reloadRepos');
    this.$store.dispatch('reposStatus');
  },
  methods: {
    changeRepoState(repo) {
      if (this.performingAction) {
        return;
      }
      // use inverted enabled as it will be the result after dispatch
      repo.selected = !repo.enabled && repo.selected;
      this.$store.dispatch('saveRepoFile', repo);
    },
    update() {
      if (this.performingAction) {
        return;
      }
      this.$store.dispatch('reposStatus');
    },
    checkout(branch) {
      if (this.performingAction) {
        return;
      }
      const repos = this.someSelected
        ? this.selectableRepos.filter(repo => repo.selected && repo.enabled)
        : this.selectableRepos.filter(repo => repo.enabled);
      DirtyDialogService.openDialog(repos)
        .then(() => {
          this.$store.dispatch('gitAllCheckout', { repos, branch });
        })
        .catch(() => {
          // Do nothing on error, just prevent error on console
        });
    },
    fetchAndMerge() {
      if (this.performingAction) {
        return;
      }
      const repos = this.someSelected ? this.selectableRepos.filter(repo => repo.selected && repo.enabled) : undefined;
      DirtyDialogService.openDialog(repos)
        .then(() => {
          this.$store.dispatch('fetchAndMerge', repos);
        })
        .catch(() => {
          // Do nothing on error, just prevent error on console
        });
    },
    selectRepo(repo) {
      repo.selected = repo.enabled && !repo.selected;
    },
    toggleAll() {
      this.$nextTick(() => {
        if (this.selectedRepos.length > 0) {
          this.selectableRepos.forEach(repo => {
            repo.selected = false;
          });
        } else {
          this.selectableRepos.forEach(repo => {
            repo.selected = repo.enabled;
          });
        }
      });
    },
    changeSort(column) {
      if (this.pagination.sortBy === column) {
        this.pagination.descending = !this.pagination.descending;
      } else {
        this.pagination.sortBy = column;
        this.pagination.descending = false;
      }
    },
  },
};
</script>

<style>
.repos-page .progress-bar {
  width: 100%;
  height: 40px;
  position: relative;
}

.repos-page .buttons {
  margin: 0 -8px;
}

.repos-page .buttons .v-icon {
  margin-right: 2px;
}

.repos-page .full-width {
  width: 100%;
}

.repos-page .dirty-label {
  background-color: #3f51b5;
  padding: 1px 4px;
  font-style: normal;

  flex-grow: 0;
  margin-right: 5px;
}

.repos-page .repo-branch-dirty {
  font-style: italic;
}

.repos-page .repo-enabled {
  color: #8bc34a !important;
}

.repos-page .repo-disabled {
  color: #f44336 !important;
}

.repos-page .clickable {
  cursor: pointer;
}

.repos-page table.v-table tbody td,
table.v-table tbody th {
  height: 36px !important;
}

.repos-page .button-text {
  text-transform: none !important;
}

.repos-page .rotate90 {
  transform: rotate(90deg);
}

.repos-page .select-checkbox .v-input__slot {
  justify-content: center;
}

.repos-page .select-checkbox .v-messages {
  min-height: 4px;
}
</style>