<template>
  <v-form ref="form" v-model="valid" lazy-validation>
    <v-layout align-content-start column>
      <v-flex>
        <h2>Settings</h2>
      </v-flex>
      <v-tabs fixed-tabs>
        <v-tab key="anywhere">Anywhere</v-tab>
        <v-tab key="jira">Jira</v-tab>
        <v-tab key="bitbucket">BitBucket</v-tab>
        <v-tab key="versions">Versions</v-tab>
        <v-tab key="features">Feature branches</v-tab>
        <v-tab-item key="anywhere">
          <v-layout class="tab" column>
            <h3>Anywhere</h3>
            <v-layout row>
              <v-text-field
                v-model="metascriptsPath"
                label="Metascripts Path: such as .../tools-scripts/anywhere/metascripts/scripts/"
                :rules="metascriptsPathRules"
                required
              />
              <v-btn color="indigo" @click="selectMetaScripts">
                <v-icon dark>folder</v-icon>
              </v-btn>
            </v-layout>
            <v-layout row>
              <v-text-field
                v-model="anywherePath"
                label="Anywhere Path: such as .../anywhere-meta/"
                :rules="anywherePathRules"
                required
              />
              <v-btn color="indigo" @click="selectAnywhere">
                <v-icon dark>folder</v-icon>
              </v-btn>
            </v-layout>
          </v-layout>
        </v-tab-item>
        <v-tab-item key="jira">
          <v-layout class="tab" column>
            <h3>Jira</h3>
            <v-text-field v-model="jiraUser" label="Jira User" :rules="jiraUserRules" required/>
            <v-text-field
              v-model="jiraPassword"
              label="Jira Token"
              :append-icon="showJiraPassword ? 'visibility_off' : 'visibility'"
              :rules="jiraPasswordRules"
              :type="showJiraPassword ? 'text' : 'password'"
              required
              @click:append="showJiraPassword = !showJiraPassword"
            />
            <v-text-field
              v-model="branchUser"
              label="User name for branches"
              :rules="jiraUserRules"
              required
            />
            <v-text-field
              v-model="jiraAccountId"
              label="Jira Account Id"
              :rules="jiraAccountRules"
              required
            />
          </v-layout>
        </v-tab-item>
        <v-tab-item key="bitbucket">
          <v-layout class="tab" column>
            <h3>BitBucket</h3>
            <v-text-field v-model="bbUser" label="BitBucket User" :rules="bbUserRules" required/>
            <v-text-field
              v-model="bbPassword"
              label="BitBucket Password"
              :append-icon="showBBPassword ? 'visibility_off' : 'visibility'"
              :rules="bbPasswordRules"
              :type="showBBPassword ? 'text' : 'password'"
              required
              @click:append="showBBPassword = !showBBPassword"
            />
          </v-layout>
        </v-tab-item>
        <v-tab-item key="versions">
          <v-layout class="tab" column>
            <h3>Anywhere versions</h3>
            <Versions :versions="anywhereVersions" @update="updateAnywhereVersions"/>
          </v-layout>
        </v-tab-item>
        <v-tab-item key="features">
          <v-layout class="tab" column>
            <h3>Feature branches</h3>
            <FeatureBranches :features="featureBranches" @update="updateFeatureBranches"/>
          </v-layout>
        </v-tab-item>
      </v-tabs>

      <v-btn :disabled="!valid" @click="save">Save</v-btn>
    </v-layout>
  </v-form>
</template>
<script>
import { readFileSync, writeFileSync, existsSync, mkdirSync } from 'fs';
import { constants } from '../utils/constants.js';
import Versions from './Settings/Versions';
import FeatureBranches from './Settings/FeatureBranches';

// eslint-disable-next-line import/no-extraneous-dependencies
const { dialog } = require('electron').remote;

export default {
  components: {
    FeatureBranches,
    Versions,
  },
  data() {
    return {
      metascriptsPath: '',
      anywherePath: '',
      jiraUser: '',
      jiraPassword: '',
      branchUser: '',
      jiraAccountId: '',
      bbUser: '',
      bbPassword: '',
      showJiraPassword: false,
      showBBPassword: false,
      valid: false,
      metascriptsPathRules: [v => !!v || 'Metascripts path is required'],
      anywherePathRules: [v => !!v || 'Anywhere path is required'],
      jiraUserRules: [v => !!v || 'Jira username is required'],
      jiraPasswordRules: [v => !!v || 'Jira password is required'],
      jiraAccountRules: [v => !!v || 'Jira password is required'],
      bbUserRules: [v => !!v || 'BitBucket username is required'],
      bbPasswordRules: [v => !!v || 'BitBucket password is required'],
      anywhereVersions: [],
      featureBranches: [],
    };
  },
  mounted() {
    const settings = this.parseDataFile(constants.CONSTANTS_FILE_PATH);

    this.metascriptsPath = settings.metascriptsPath;
    this.anywherePath = settings.anywherePath;
    this.jiraUser = settings.jiraUser;
    this.jiraPassword = settings.jiraPassword;
    this.branchUser = settings.branchUser;
    this.jiraAccountId = settings.jiraAccountId;
    this.bbUser = settings.bbUser;
    this.bbPassword = settings.bbPassword;
    this.anywhereVersions = settings.anywhereVersions;
    this.featureBranches = settings.featureBranches;
  },
  methods: {
    parseDataFile(filePath) {
      try {
        return JSON.parse(readFileSync(filePath));
      } catch (error) {
        // if there was some kind of error, return the passed in defaults instead.
        return constants;
      }
    },
    save() {
      if (this.$refs.form.validate()) {
        const data = JSON.stringify({
          metascriptsPath: this.metascriptsPath,
          anywherePath: this.anywherePath,
          jiraUser: this.jiraUser,
          jiraPassword: this.jiraPassword,
          branchUser: this.branchUser,
          jiraAccountId: this.jiraAccountId,
          bbUser: this.bbUser,
          bbPassword: this.bbPassword,
          anywhereVersions: this.anywhereVersions,
          featureBranches: this.featureBranches,
        });

        if (!existsSync(constants.USER_DATA_PATH)) {
          mkdirSync(constants.USER_DATA_PATH, { recursive: true });
        }
        writeFileSync(constants.CONSTANTS_FILE_PATH, data, 'utf8');
        Object.assign(constants, {
          METASCRIPTS: this.metascriptsPath,
          ANYWHERE_META: this.anywherePath,
          ANYWHERE_VERSIONS: this.anywhereVersions,
          FEATURE_BRANCHES: this.featureBranches,
          BB_USER: this.bbUser,
          BB_PASSWORD: this.bbPassword,
          JIRA_USER: this.jiraUser,
          JIRA_PASSWORD: this.jiraPassword,
          BRANCH_USER: this.branchUser,
          JIRA_ACCOUNT_ID: this.jiraAccountId,
        });

        const homePath = this.$electron.remote.app.getPath('home');
        const appName =
          process.env.NODE_ENV === 'production' ? this.$electron.remote.app.getName() : 'anywhere-personal-assistant';
        constants.configure(homePath, appName);
      }
    },
    updateAnywhereVersions(versions) {
      this.anywhereVersions = versions;
    },
    updateFeatureBranches(branches) {
      this.featureBranches = branches;
    },
    selectMetaScripts() {
      const options = {
        title: 'Select MetaScripts directory',
        buttonLabel: 'Select',
        properties: ['openDirectory'],
      };
      dialog.showOpenDialog(options, folder => {
        this.metascriptsPath = `${folder}/`;
      });
    },
    selectAnywhere() {
      const options = {
        title: 'Select Anywhere Meta directory',
        buttonLabel: 'Select',
        properties: ['openDirectory'],
      };
      dialog.showOpenDialog(options, folder => {
        this.anywherePath = `${folder}/`;
      });
    },
  },
};
</script>
<style scoped>
h2 {
  margin-bottom: 8px;
}
.tab {
  margin: 20px 0;
}
</style>