<template>
  <v-layout align-content-start column>
    <h2>My open tickets</h2>
    <v-data-table
      :headers="headers"
      :hide-headers="true"
      :items="tickets"
      hide-actions
      class="elevation-1 full-width"
      disable-initial-sort
    >
      <template slot="items" slot-scope="props">
        <tr>
          <td>
            <v-icon dark class="fetch-branches" @click="getBranches(props.item.key)">sync</v-icon>
          </td>
          <td>
            <v-layout column>
              <v-flex>{{ props.item.fields.project.name.replace('Anywhere - ', '') }}</v-flex>
              <TicketBranchesCheckout v-if="props.item.branches" :branches="props.item.branches"/>
            </v-layout>
          </td>
          <td class="ticket-key clickable" @click="openLink(props.item.key)">{{ props.item.key }}</td>
          <td>
            {{ props.item.fields.summary }}
            <TicketBranches
              v-if="props.item.branches"
              :ticket="props.item.key"
              :branches="props.item.branches"
              @checkout="checkoutSingleBranch"
            />
          </td>
        </tr>
      </template>
    </v-data-table>
  </v-layout>
</template>
<script>
import { exec } from 'child_process';
import { constants } from '../utils/constants.js';
import TicketBranches from './Tickets/TicketBranches.vue';
import TicketBranchesCheckout from './Tickets/TicketBranchesCheckout.vue';

export default {
  components: {
    TicketBranches,
    TicketBranchesCheckout,
  },
  data() {
    return {
      headers: [{ width: '1%' }, { width: '1%' }, { width: '1%' }, { align: 'left' }],
    };
  },
  computed: {
    tickets() {
      return this.$store.state.Tickets.tickets;
    },
  },
  mounted() {
    this.$store.dispatch('jiraGetTickets', {
      user: constants.JIRA_USER,
      password: constants.JIRA_PASSWORD,
      accountId: constants.JIRA_ACCOUNT_ID,
    });
  },
  methods: {
    getBranches(key) {
      this.$store.dispatch('bitbucketGetBranches', { key, repos: this.$store.state.Repos.repos });
    },
    checkoutSingleBranch(branch) {
      this.$store.dispatch('gitCheckout', [branch]);
    },
    openLink(ticket) {
      exec(`open https://cetrea.jira.com/browse/${ticket}`);
    },
  },
};
</script>

<style scoped>
h2 {
  margin-bottom: 8px;
}
td.ticket-key {
  white-space: nowrap;
}
td {
  vertical-align: top;
  padding: 5px 18px !important;
}
.clickable {
  cursor: pointer;
}
</style>