<template>
  <v-layout column>
    <v-text-field v-model="newFeatureName" label="Add new feature (name)" @keyup.enter="addItem()"/>
    <v-text-field
      v-model="newFeatureBranch"
      label="Add new feature (branch)"
      @keyup.enter="addItem()"
    />
    <v-data-table
      :headers="headers"
      :items="features"
      hide-actions
      class="elevation-1 features-table"
    >
      <template slot="items" slot-scope="props">
        <tr :key="props.item.name">
          <td>{{ props.item.name }}</td>
          <td>{{ props.item.branch }}</td>
          <td class="clickable" @click="removeFeature(props.item)">Remove</td>
        </tr>
      </template>
    </v-data-table>
  </v-layout>
</template>
<script>
export default {
  props: {
    features: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      newFeatureName: '',
      newFeatureBranch: '',
      headers: [
        {
          text: 'Name',
          align: 'left',
          sortable: true,
          value: 'name',
        },
        {
          text: 'Branch',
          align: 'left',
          sortable: true,
          value: 'branch',
        },
        {
          text: 'Remove feature',
          align: 'left',
          sortable: false,
          value: 'remove',
        },
      ],
    };
  },
  methods: {
    addItem() {
      if (this.newFeatureName.length === 0 || this.newFeatureBranch.length === 0) {
        return;
      }
      const features = [
        ...this.features,
        {
          name: this.newFeatureName,
          branch: this.newFeatureBranch,
        },
      ];
      this.newFeatureName = '';
      this.newFeatureBranch = '';
      this.emitFeatures(features);
    },
    removeFeature(item) {
      this.emitFeatures(this.features.filter(i => i !== item));
    },
    emitFeatures(features) {
      this.$emit('update', features);
    },
  },
};
</script>
<style scoped>
.features-table {
  margin-bottom: 10px;
}
.clickable {
  cursor: pointer;
}
</style>