<template>
  <v-layout column>
    <v-text-field v-model="newVersion" label="Add new version" @keyup.enter="addItem()"/>
    <v-data-table
      ref="sortableTable"
      :headers="headers"
      :items="versions"
      hide-actions
      class="elevation-1 versions-table"
    >
      <template slot="items" slot-scope="props">
        <tr :key="props.item.name" class="sortableRow">
          <td class="px-1" style="width: 0.1%">
            <v-btn style="cursor: move" icon class="sortHandle">
              <v-icon>drag_handle</v-icon>
            </v-btn>
          </td>
          <td>{{ props.item.name | capitalize }}</td>
          <td @click="setToDevelop(props.item)">{{ props.item.isDevelop }}</td>
          <td class="clickable" @click="removeVersion(props.item)">Remove</td>
        </tr>
      </template>
    </v-data-table>
  </v-layout>
</template>
<script>
import Sortable from 'sortablejs';

export default {
  filters: {
    capitalize: value => {
      if (!value) return '';
      value = value.toString();
      return value.charAt(0).toUpperCase() + value.slice(1);
    },
  },
  props: {
    versions: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      newVersion: '',
      sortable: null,
      headers: [
        {
          sortable: false,
        },
        {
          text: 'Version',
          align: 'left',
          sortable: false,
          value: 'version',
        },
        {
          text: 'Is Develop',
          align: 'left',
          sortable: false,
          value: 'isDevelop',
        },
        {
          text: 'Remove version',
          align: 'left',
          sortable: false,
          value: 'remove',
        },
      ],
    };
  },
  mounted() {
    /* eslint-disable no-new */
    this.sortable = new Sortable(this.$refs.sortableTable.$el.getElementsByTagName('tbody')[0], {
      draggable: '.sortableRow',
      handle: '.sortHandle',
      onEnd: this.dragReorder,
    });
  },
  beforeDestroy() {
    this.sortable.destroy();
  },
  methods: {
    dragReorder({ oldIndex, newIndex }) {
      const versions = this.versions.filter((item, index) => index !== oldIndex);
      const movedItem = this.versions[oldIndex];
      versions.splice(newIndex, 0, movedItem);
      this.emitVersions(versions);
    },
    addItem() {
      const versions = [
        ...this.versions.map(version => ({ name: version.name, isDevelop: false })),
        {
          name: this.newVersion.toLowerCase(),
          isDevelop: true,
        },
      ];
      this.newVersion = '';
      this.emitVersions(versions);
    },
    removeVersion(item) {
      const versions = this.versions.filter(i => i !== item);
      if (item.isDevelop && versions.length > 0) {
        versions[versions.length - 1].isDevelop = true;
      }
      this.emitVersions(versions);
    },
    setToDevelop(item) {
      this.versions.forEach(element => {
        element.isDevelop = false;
      });
      item.isDevelop = true;
      const versions = this.versions.map(version => ({ name: version.name, isDevelop: version.name === item.name }));
      this.emitVersions(versions);
    },
    emitVersions(versions) {
      this.$emit('update', versions);
    },
  },
};
</script>
<style scoped>
.versions-table {
  margin-bottom: 10px;
}
.clickable {
  cursor: pointer;
}
</style>