<template>
  <v-flex class="sourcetree-wrapper" @click.stop="openSourceTree()">
    <div class="sourcetree"/>
  </v-flex>
</template>
<script>
import { constants } from '../../utils/constants.js';
import execAsync from '../../utils/os-utils';

export default {
  props: {
    component: {
      type: String,
      default: '',
    },
  },
  data() {
    return {};
  },
  methods: {
    openSourceTree() {
      let c = this.component.toLowerCase().replace(/ /g, '');

      if (c !== 'core' && c !== 'loke' && c !== 'mobile-loke' && c !== 'build') {
        c = `components/${c}`;
      } else if (c === 'loke') {
        c = 'mobile-loke';
      } else if (c === 'build') {
        c = 'buildscripts';
      }
      console.log(`open -a SourceTree ${constants.ANYWHERE_META}${c}`);
      execAsync(`open -a SourceTree ${constants.ANYWHERE_META}${c}`);
    },
  },
};
</script>
<style scoped>
.sourcetree-wrapper {
  flex-grow: 0;
  margin-right: 5px;
}
.sourcetree {
  width: 28px;
  height: 24px;
  margin-top: 2px;

  cursor: pointer;

  background-image: url('/static/sourcetree.png');
  background-size: contain;
}
</style>