<template>
  <v-card dark class="white--text">
    <v-card-title primary-title>
      <div>
        <div class="headline">Step {{ stepNumber }}: Checkout to new branches</div>
      </div>
    </v-card-title>
    <v-card-text>
      <v-flex>{{ stepData.resultMessage }}</v-flex>
    </v-card-text>
    <v-card-text v-if="stepData.done">
      <v-flex v-for="repo in repos" :key="repo.name">{{ repo.name }} -> {{ repo.branch }}</v-flex>
    </v-card-text>
    <v-card-actions v-if="stepData.done">
      <v-btn v-if="stepData.success" flat dark @click="next">Proceed to merge</v-btn>
      <v-btn v-else flat dark @click="retry">Check status again</v-btn>
    </v-card-actions>
  </v-card>
</template>
<script>
import DataService from '../../utils/frontport-data-service.js';

export default {
  name: 'StepCheckout',
  props: {
    stepNumber: {
      type: Number,
      required: true,
    },
    stepData: {
      type: Object,
      required: true,
    },
  },
  computed: {
    repos() {
      return this.stepData.repos || this.$store.state.Repos.repos.filter(repo => repo.enabled);
    },
    dirtyRepos() {
      return this.$store.getters.dirtyAndEnabledRepos;
    },
  },
  mounted() {
    if (this.stepData.done === undefined) {
      this.$set(this.stepData, 'done', false);
      this.$set(this.stepData, 'success', false);
      this.$set(this.stepData, 'resultMessage', 'Checking the status of the repos...');
      this.retry();
    }
  },
  methods: {
    repoStatus() {
      return this.$store.dispatch('reposStatus').then(
        () =>
          new Promise((resolve, reject) => {
            this.stepData.done = true;
            if (this.dirtyRepos.length > 0) {
              console.log('dirty repos', this.dirtyRepos);
              this.stepData.success = false;
              this.stepData.resultMessage = 'There are repos with changes, please commit/discard them before proceding';
              reject();
            } else {
              console.log('ok, checking out');
              this.stepData.done = false;
              this.stepData.resultMessage = 'All repos look clean, checking out...';
              resolve();
            }
          }),
      );
    },
    retry() {
      this.stepData.done = false;
      this.repoStatus().then(() => {
        setTimeout(() => {
          console.log('finished checking out');
          this.stepData.done = true;
          this.stepData.success = true;
          this.stepData.resultMessage = 'All repos checked out ok';

          const repos = this.repos;
          this.$set(this.stepData, 'repos', [
            ...repos.map(repo => {
              let branch = repo.branch;
              const branchOnThisRepo = this.stepData.newBranches.find(
                branch => branch.component.toLowerCase() === repo.name.toLowerCase(),
              );
              if (branchOnThisRepo) {
                branch = branchOnThisRepo.name;
              }
              return { name: repo.name, branch };
            }),
          ]);
        }, 4000);
      });
    },
    next() {
      DataService.addStep('StepMerge', this.stepData);
      this.$emit('changeTab', this.stepNumber);
    },
  },
};
</script>