<template>
  <v-card dark class="white--text">
    <v-card-title primary-title>
      <div>
        <div class="headline">Step {{ stepNumber }}: running the tests</div>
      </div>
    </v-card-title>
    <v-card-text>Before commiting the changes we'll make sure the tests pass.</v-card-text>
    <v-layout row>
      <v-layout column class="branches">
        <v-card-text v-for="branch in stepData.newBranches" :key="branch.component">
          <v-flex>{{ branch.component }}</v-flex>
          <v-layout column align-content-start align-start>
            <v-flex
              v-if="branch.javaTests != 'ok' || branch.javascriptTests != 'ok'"
            >Ready to run unit tests</v-flex>
            <v-flex v-else>All tests ok!</v-flex>
            <v-btn
              :disabled="branch.javaTests=='ok'"
              flat
              @click="runJavaTests(branch)"
            >Run Java unit tests</v-btn>
            <v-btn
              :disabled="branch.javascriptTests=='ok'"
              flat
              @click="runJavascriptTests(branch)"
            >Run Javascript unit tests</v-btn>
          </v-layout>
        </v-card-text>
      </v-layout>
      <v-flex class="terminal" column>
        <v-flex v-for="(line, index) in stepData.terminal" :key="index">{{ line }}</v-flex>
      </v-flex>
    </v-layout>

    <v-card-actions>
      <v-btn flat dark @click="next">Go create PRs!</v-btn>
    </v-card-actions>
  </v-card>
</template>
<script>
import DataService from '../../utils/frontport-data-service.js';

export default {
  name: 'StepTest',
  props: {
    stepNumber: {
      type: Number,
      required: true,
    },
    stepData: {
      type: Object,
      required: true,
    },
  },
  mounted() {
    this.$set(this.stepData, 'terminal', []);
  },
  methods: {
    runJavaTests(branch) {
      this.stepData.terminal.push(`Running Java unit tests for component ${branch.component}...`);
      setTimeout(() => {
        this.stepData.terminal.push(`All Java unit tests passed for component ${branch.component}!`);
        this.stepData.terminal.push(' ');
        this.$set(branch, 'javaTests', 'ok');
      }, 4000);
    },
    runJavascriptTests(branch) {
      this.stepData.terminal.push(`Running Javascript unit tests for component ${branch.component}`);
      setTimeout(() => {
        this.stepData.terminal.push(`All Javascript unit tests passed for component ${branch.component}!`);
        this.stepData.terminal.push(' ');
        this.$set(branch, 'javascriptTests', 'ok');
      }, 4000);
    },
    next() {
      DataService.addStep('StepCreatePR', this.stepData);
      this.$emit('changeTab', this.stepNumber);
    },
  },
};
</script>
<style scoped>
.branches {
  flex-grow: 0;
  min-width: 320px;
}
.terminal {
  font-family: monospace;
  background-color: #202020;
  padding: 14px;
  margin-right: 15px;
}
</style>