<template>
  <v-card dark class="white--text">
    <v-card-title primary-title>
      <div>
        <div class="headline">Step {{ stepNumber }}: merging changes to new branch</div>
      </div>
    </v-card-title>
    <v-card-text v-for="branch in stepData.newBranches" :key="branch.component">
      <v-flex>{{ branch.component }}</v-flex>
      <v-flex v-if="branch.noConflicts">Merged ok, please review the changes, do not commit</v-flex>
      <v-flex v-else>
        <span>There are merge conflicts, please resolve them and click</span>
        <v-btn flat @click="refresh(branch)">here</v-btn>
        <span>to refresh</span>
      </v-flex>
    </v-card-text>
    <v-card-actions>
      <v-btn flat dark @click="next">Ok, proceed to run the tests</v-btn>
    </v-card-actions>
  </v-card>
</template>
<script>
import DataService from '../../utils/frontport-data-service.js';

export default {
  name: 'StepMerge',
  props: {
    stepNumber: {
      type: Number,
      required: true,
    },
    stepData: {
      type: Object,
      required: true,
    },
  },
  methods: {
    refresh(branch) {
      this.$set(branch, 'noConflicts', true);
    },
    next() {
      DataService.addStep('StepTest', {
        selectedBranches: this.stepData.selectedBranches,
        newBranches: this.stepData.newBranches,
        repos: this.stepData.repos,
      });
      this.$emit('changeTab', this.stepNumber);
    },
  },
};
</script>