<template>
  <v-card dark class="white--text">
    <v-card-title primary-title>
      <div>
        <div class="headline">Step {{ stepNumber }}: validation of the current branch</div>
      </div>
    </v-card-title>
    <v-card-text>
      The current level is {{ currentLevel }}. Where should your branches point to?
      <v-select
        v-model="stepData.selectedTargetRepo"
        :items="stepData.targetRepos"
        color="#3f51b5"
        label="Target repo"
      >
        <template slot="selection" slot-scope="data">
          <v-icon v-if="isSameLevelAsCurrent(data.item)" class="ok-icon">check</v-icon>
          <v-icon v-else class="warning-icon">warning</v-icon>
          {{ data.item }}
        </template>
        <template slot="item" slot-scope="data">
          <v-icon v-if="isSameLevelAsCurrent(data.item)" class="ok-icon">check</v-icon>
          <v-icon v-else class="warning-icon">warning</v-icon>
          {{ data.item }}
        </template>
      </v-select>
    </v-card-text>
    <v-card-text>
      <v-flex>{{ stepData.selectedSourceBranch.component }}</v-flex>
      <v-layout row>
        <v-checkbox :input-value="true" readonly hide-details dark class="select-branch"/>
        <v-flex class="branch-name">{{ stepData.selectedSourceBranch.name }}</v-flex>
      </v-layout>
    </v-card-text>
    <v-card-text v-for="branch in sameLevelBranches" :key="branch.repo">
      <v-flex>{{ branch.component }}</v-flex>
      <v-layout row>
        <v-checkbox v-model="branch.selected" hide-details dark class="select-branch"/>
        <v-flex class="branch-name">{{ branch.name }}</v-flex>
      </v-layout>
    </v-card-text>
    <v-card-actions>
      <v-btn flat dark :disabled="!stepData.selectedTargetRepo" @click="next">Ok, Continue...</v-btn>
    </v-card-actions>
  </v-card>
</template>
<script>
import DataService from '../../utils/frontport-data-service.js';

const isSameBranch = (branch1, branch2) => branch1.name === branch2.name && branch1.component === branch2.component;

export default {
  name: 'StepValidation',
  props: {
    stepNumber: {
      type: Number,
      required: true,
    },
    stepData: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      sameLevelBranches: [],
    };
  },
  computed: {
    currentLevel() {
      return this.stepData.selectedSourceBranch.level;
    },
  },
  mounted() {
    this.sameLevelBranches = this.getSameLevelBranches();
  },
  methods: {
    isSameLevelAsCurrent(level) {
      return level.indexOf(this.currentLevel) !== -1;
    },
    getSameLevelBranches() {
      return this.stepData.branches.reduce((list, branch) => {
        if (branch.level === this.currentLevel && !isSameBranch(branch, this.stepData.selectedSourceBranch)) {
          const newBranch = { ...branch };
          newBranch.selected = newBranch.name === this.stepData.selectedSourceBranch.name;
          list.push(newBranch);
        }
        return list;
      }, []);
    },
    next() {
      const branches = [{ ...this.stepData.selectedSourceBranch }].concat(
        this.sameLevelBranches.filter(branch => branch.selected).map(branch => ({ ...branch })),
      );

      DataService.addStep('StepCreateBranches', {
        levels: this.stepData.levels,
        selectedTargetRepo: this.stepData.selectedTargetRepo,
        branches: this.stepData.branches,
        selectedBranches: branches,
      });
      this.$emit('changeTab', this.stepNumber);
      console.log(DataService.steps());
    },
  },
};
</script>
<style scoped>
.select-branch {
  margin-top: 0;
  flex-grow: 0;
}
.branch-name {
  align-self: center;
}
.ok-icon {
  margin-right: 10px;
  color: greenyellow;
}
.warning-icon {
  margin-right: 10px;
  color: darkorange;
}
</style>