<template>
  <v-card dark class="white--text">
    <v-card-title primary-title>
      <div>
        <div class="headline">Step {{ stepNumber }}: create the branches to {{ level }}</div>
      </div>
    </v-card-title>
    <v-card-text v-for="branch in stepData.selectedBranches" :key="branch.component">
      <v-flex>{{ branch.component }}</v-flex>
      <v-flex>{{ branch.name }} -> {{ newBranchName(branch) }}</v-flex>
    </v-card-text>
    <v-card-actions>
      <v-btn flat dark @click="next">Ok, create the branches</v-btn>
    </v-card-actions>
  </v-card>
</template>
<script>
import DataService from '../../utils/frontport-data-service.js';
import { constants } from '../../utils/constants.js';

export default {
  name: 'StepCreateBranches',
  props: {
    stepNumber: {
      type: Number,
      required: true,
    },
    stepData: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      user: constants.BRANCH_USER || constants.JIRA_USER,
    };
  },
  computed: {
    level() {
      const index = this.stepData.levels.findIndex(
        level => this.stepData.selectedTargetRepo.toLowerCase().indexOf(level) >= 0,
      );
      return this.stepData.levels[index + 1];
    },
  },
  methods: {
    newBranchName(branch) {
      return `frontport/${this.level}/${this.user}/${branch.title}`;
    },
    next() {
      DataService.addStep('StepCheckout', {
        ...this.stepData,
        newBranches: this.stepData.selectedBranches.map(branch => ({
          ...branch,
          name: this.newBranchName(branch),
        })),
      });
      this.$emit('changeTab', this.stepNumber);
    },
  },
};
</script>