<template>
  <v-card class="white--text">
    <v-card-title primary-title>
      <div>
        <div class="headline">Step {{ stepNumber }}: Pull requests</div>
      </div>
    </v-card-title>
    <v-card-text>
      <v-flex>Looks like we are done frontporting!</v-flex>
      <v-flex>I'll create the following PRs</v-flex>
    </v-card-text>
    <v-card-text v-for="repo in repos" :key="repo.name">
      <v-flex>{{ repo.name }}</v-flex>
      <v-layout v-for="branch in repo.branches" :key="branch.name">
        <!--<v-flex>Already exists a PR for {{ branch.name }}</v-flex>-->
        <v-flex>Will create PR for {{ branch.name }}</v-flex>
      </v-layout>
    </v-card-text>
    <v-card-actions>
      <v-btn flat dark @click="next">Create PRs!</v-btn>
    </v-card-actions>
  </v-card>
</template>
<script>
// import DataService from '../../utils/frontport-data-service.js';

export default {
  name: 'StepCreatePR',
  props: {
    stepNumber: {
      type: Number,
      required: true,
    },
    stepData: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      repos: [],
    };
  },
  mounted() {
    this.repos = this.stepData.repos.reduce((acc, repo) => {
      const repoBranches = this.branchesOfComponent(repo);
      if (repoBranches.length > 0) {
        acc.push({ name: repo.name, branches: repoBranches });
      }
      return acc;
    }, []);
  },
  methods: {
    branchesOfComponent(component) {
      return [].concat(
        this.stepData.selectedBranches.filter(
          branch => branch.component.toLowerCase() === component.name.toLowerCase(),
        ),
        this.stepData.newBranches.filter(branch => branch.component.toLowerCase() === component.name.toLowerCase()),
      );
    },
    next() {
      // DataService.addStep('StepCheckout', {});
      // this.$emit('changeTab', this.stepNumber);
    },
  },
};
</script>
<style scoped>
.branches {
  flex-grow: 0;
  min-width: 320px;
}
.terminal {
  font-family: monospace;
  background-color: #202020;
  padding: 14px;
  margin-right: 15px;
}
</style>