<template>
  <v-container text-xs-left class="quick-repos">
    <v-layout column>
      <v-expansion-panel v-model="panel" expand>
        <v-expansion-panel-content v-for="item in repos" :key="item.name">
          <div slot="header">{{ item.children.length + " - " + item.name }}</div>
          <div class="expansion-panel-repos">
            <v-card v-for="repo in item.children" :key="repo.name" class="inset-card">
              <v-card-text>{{ repo.name }}</v-card-text>
            </v-card>
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-layout>
  </v-container>
</template>
<script>
import { branchesComparator } from '../../utils/constants.js';

// TODO Fix eslint object-shorthand error and move it to where it belongs
function reposHandler(repos) {
  this.$nextTick(() => {
    if (!repos) {
      this.panel = [];
      return;
    }
    // Array of boolean values which represent the open panels. Open panes => less than 5 brances
    this.panel = repos.map(repo => repo.children.length < 5);
  });
}

/**
 * A repo.
 * @typedef {{ name: string, branch: string, enabled: boolean, clean: boolean }} Repo
 */
export default {
  data() {
    return { panel: [] };
  },
  computed: {
    repos() {
      /** @type {[{branch: string, repos: [Repo]}]} */
      const branchesWithRepos = this.$store.getters.reposGroupedByBranch;
      const result = branchesWithRepos.map(item => ({
        name: item.branch,
        children: item.repos.map(repo => ({ name: repo.name })),
      }));

      result.sort((a, b) => branchesComparator(a.name, b.name));
      return result;
    },
  },
  watch: {
    repos: reposHandler,
  },
};
</script>
<style scoped>
.inset-card {
  padding-left: 30px;
}

.quick-repos {
  padding: 0;
}

.quick-repos .expansion-panel-repos {
  margin-top: -12px;
}

.quick-repos .v-card__text {
  padding: 4px 16px;
}
</style>
