<template>
  <div id="app">
    <v-app dark>
      <v-navigation-drawer
        v-model="drawer"
        :mini-variant="miniVariant"
        :clipped="clipped"
        fixed
        app
      >
        <v-list>
          <v-list-tile v-for="(item, i) in items" :key="i" router :to="item.to" exact>
            <v-list-tile-action>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title v-text="item.title"/>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-navigation-drawer>
      <v-toolbar fixed app :clipped-left="clipped">
        <v-toolbar-side-icon @click.native.stop="drawer = !drawer"/>
        <v-btn icon @click.native.stop="miniVariant = !miniVariant">
          <v-icon>{{ miniVariant ? 'chevron_right' : 'chevron_left' }}</v-icon>
        </v-btn>
        <!--
        <v-btn icon @click.native.stop="clipped = !clipped">
          <v-icon>web</v-icon>
        </v-btn>
        <v-btn icon @click.native.stop="fixed = !fixed">
          <v-icon>remove</v-icon>
        </v-btn>
        -->
        <v-toolbar-title v-text="title"/>
        <v-spacer/>
        <v-btn icon @click.native.stop="rightDrawer = !rightDrawer">
          <v-icon>menu</v-icon>
        </v-btn>
      </v-toolbar>
      <v-content>
        <v-container fluid>
          <v-slide-y-transition mode="out-in">
            <router-view/>
          </v-slide-y-transition>
        </v-container>
      </v-content>
      <v-navigation-drawer v-model="rightDrawer" :right="right" temporary fixed app width="600">
        <QuickRepos/>
      </v-navigation-drawer>
      <v-footer :fixed="fixed" app>
        <v-spacer/>
        <span>by MarcP</span>
      </v-footer>
      <Dialog :service="dialogService"/>
    </v-app>
  </div>
</template>

<script>
import Dialog from './components/Dialog.vue';
import QuickRepos from './components/Repos/QuickRepos.vue';
import { constants } from './utils/constants';
import DialogService from './utils/dialog-service.js';

export default {
  name: 'AnywherePersonalAssistant',
  components: {
    Dialog,
    QuickRepos,
  },
  data: () => ({
    clipped: false,
    drawer: false,
    fixed: false,
    items: [
      { icon: 'home', title: 'Repos', to: '/' },
      { icon: 'toc', title: 'Pull Requests', to: '/prs' },
      { icon: 'toc', title: 'My Open Issues', to: '/tickets' },
      { icon: 'flash_on', title: 'Frontport', to: '/frontport' },
      { icon: 'settings', title: 'Settings', to: '/settings' },
    ],
    miniVariant: false,
    right: true,
    rightDrawer: false,
    title: 'Anywhere Personal Assistant',
    dialogService: DialogService,
  }),
  beforeCreate() {
    const homePath = this.$electron.remote.app.getPath('home');
    const appName =
      process.env.NODE_ENV === 'production' ? this.$electron.remote.app.getName() : 'anywhere-personal-assistant';
    constants.configure(homePath, appName);
  },
};
</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
/* Global CSS */

.v-footer span {
  margin-right: 10px;
}
</style>
