<template>
  <v-btn
    ref="container"
    class="branch-level-checkout"
    :class="level"
    :disabled="disabled"
    child-flex
    column
    @click.stop="checkout(selected)"
  >
    <v-icon dark class="branch-level-icon">exit_to_app</v-icon>
    <span class="branch-level-text">{{ selected.name }}</span>
    <v-icon dark class="feature-switcher" @click.stop="switchState()">$vuetify.icons.dropdown</v-icon>
    <div
      v-if="open"
      class="close"
      @click.stop="open=false"
      @scroll="scrollFunction"
      @touchmove="scrollFunction"
      @mousewheel="scrollFunction"
      @wheel="scrollFunction"
    />
    <div class="drawer" :class="{ hidden: !open }" :style="drawerPosition">
      <v-list>
        <v-list-tile
          v-for="feature in allItems"
          :key="feature.branch"
          @click.stop="switchFeature(feature)"
        >
          <v-list-tile-content>
            <v-list-tile-title>{{ feature.name }}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </div>
  </v-btn>
</template>
<script>
export default {
  props: {
    level: {
      type: String,
      required: true,
    },
    items: {
      type: Array,
      default: () => [],
    },
    disabled: {
      type: Boolean,
      default: () => false,
    },
  },
  data() {
    return {
      selected: { name: '', branch: '' },
      open: false,
      drawerPosition: {},
    };
  },
  computed: {
    levelItems() {
      if (this.level === 'develop') {
        return [{ name: 'develop', branch: 'develop' }];
      }
      return [
        { name: `${this.level}.next`, branch: `release/${this.level}.next` },
        { name: `${this.level}.rc`, branch: `release/${this.level}.rc` },
      ];
    },
    allItems() {
      return [...this.levelItems, ...this.items];
    },
  },
  mounted() {
    this.selected = this.levelItems[0];
  },
  methods: {
    computeDrawerPosition() {
      const rect = this.$refs.container.$el.getBoundingClientRect();
      this.drawerPosition = {
        top: `${rect.bottom - 2}px `,
        left: `${rect.left}px`,
        width: `${rect.right - rect.left}px`,
      };
    },
    switchFeature(feature) {
      this.selected = feature;
      this.open = false;
    },
    checkout(feature) {
      this.$emit('checkout', { level: this.level, feature });
    },
    switchState() {
      this.open = !this.open;
      if (this.open) {
        this.computeDrawerPosition();
      }
    },
    scrollFunction(e) {
      e = e || window.event;
      if (e.preventDefault) e.preventDefault();
      e.returnValue = false;
    },
  },
};
</script>
<style scoped>
.branch-level-checkout {
  position: relative;
  padding-right: 35px;
}

.branch-level-checkout.frankfurt {
  background-color: #ffc107 !important;
}

.branch-level-checkout.granada {
  background-color: #ff5722 !important;
}

.branch-level-checkout.develop {
  background-color: #8bc34a !important;
}

.branch-level-icon {
  font-size: 14px;
  display: flex;
  margin-right: 2px;
}

.branch-level-text {
  font-size: 12px;
  max-width: 140px;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-right: 5px;
}

.feature-switcher {
  position: absolute;
  right: -35px;
  width: 35px;
  border-left: 1px solid gray;
}

.feature-switcher:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.close {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
}

.drawer {
  position: fixed;
  z-index: 10;
  top: 22px;
  left: -4px;
  right: -35px;

  text-transform: capitalize;

  border: solid 2px #8bc34a;
  border-top: none;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.hidden {
  display: none;
}
</style>