<template>
  <v-layout column align-start>
    <v-flex
      v-for="branch in sortedBranches"
      :key="branch.component + branch.type + branch.level + branch.title"
      class="branch"
    >
      <v-layout row>
        <v-flex>
          <v-icon class="arrow" @click="checkoutSingleBranch(branch)">subdirectory_arrow_right</v-icon>
        </v-flex>
        <SourceTree :component="branch.component"/>
        <v-flex class="branch-name">{{ branch.component }}</v-flex>
        <v-flex class="branch-name">{{ branch.type }}</v-flex>
        <v-flex class="branch-level" :class="branch.level">{{ branch.level }}</v-flex>
        <v-flex class="branch-name">{{ branch.title }}</v-flex>
      </v-layout>
    </v-flex>
  </v-layout>
</template>
<script>
import { constants, versionComparator } from '../../utils/constants.js';
import execAsync from '../../utils/os-utils';
import SourceTree from '../Common/SourceTree.vue';

export default {
  components: {
    SourceTree,
  },
  props: {
    ticket: {
      type: String,
      default: '',
    },
    branches: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {};
  },
  computed: {
    sortedBranches() {
      return [...this.branches].sort((a, b) => versionComparator(a.level, b.level));
    },
  },
  methods: {
    openSourceTree(component) {
      component = component.toLowerCase();
      if (component !== 'core' && component !== 'loke') {
        component = `components/${component}`;
      }
      execAsync(`open -a SourceTree ${constants.ANYWHERE_META}${component}`);
    },
    checkoutSingleBranch(branch) {
      this.$emit('checkout', { name: branch.component.toLowerCase(), branch: branch.name });
    },
  },
};

/*
  Description of the ticket
   -> Core      Frankfurt Granada develop
   -> Bedplaces Frankfurt Granada develop
*/
</script>
<style>
.branch {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.branch .arrow {
  color: #bbb;
}

.branch:hover .arrow {
  color: #fff;
}

.branch-name {
  margin-top: 4px;
  margin-right: 8px;
}

.branch-level {
  margin-top: 4px;
  margin-right: 8px;
  padding: 0 4px;
  margin-bottom: 5px;
}

.branch-level.frankfurt {
  border: solid 1px #ffc107;
  color: #ffc107;
}

.branch-level.granada {
  border: solid 1px #ff5722;
  color: #ff5722;
}

.branch-level.develop {
  border: solid 1px #8bc34a;
  color: #8bc34a;
}

.sourcetree {
  width: 28px;
  height: 24px;
  margin-top: 2px;

  cursor: pointer;

  background-image: url('/static/sourcetree.png');
  background-size: contain;
}
</style>