<template>
  <v-layout column align-start class="button-container">
    <FeatureBranchesCheckout
      v-for="level in levels"
      :key="level"
      :level="level"
      :items="features"
      :disabled="performingAction"
      @checkout="checkout"
    />
  </v-layout>
</template>
<script>
import { versionComparator, constants } from '../../utils/constants.js';
import FeatureBranchesCheckout from './FeatureBranchesCheckoutButton';
import DirtyDialogService from '../../utils/dirty-dialog-service.js';

export default {
  components: {
    FeatureBranchesCheckout,
  },
  props: {
    branches: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {};
  },
  computed: {
    levels() {
      const levels = this.branches.reduce((levels, branch) => {
        if (!levels[branch.level]) {
          levels[branch.level] = branch.level;
        }
        return levels;
      }, {});

      return Object.keys(levels).sort(versionComparator);
    },
    features() {
      return constants.ANYWHERE_FEATURE_BRANCHES;
    },
    performingAction() {
      return this.$store.getters.performingAction;
    },
  },
  methods: {
    checkout({ level, feature }) {
      console.log('checkout', { level, feature });
      DirtyDialogService.openDialog()
        .then(() => {
          const reposWithBranchesOnLevel = this.branches.filter(branch => branch.level === level);
          const defaultBranch = feature.branch;

          const result = this.$store.state.Repos.repos.reduce((list, repo) => {
            const branch = reposWithBranchesOnLevel.find(branch => branch.component.toLowerCase() === repo.name);
            if (branch && !repo.enabled) {
              const error = { message: 'Your ticket has a branch on a disabled repo' };
              throw error;
            }
            if (branch || (repo.enabled && repo.branch !== defaultBranch)) {
              list.push({
                name: repo.name,
                branch: branch ? branch.name : defaultBranch,
              });
            }
            return list;
          }, []);
          console.log('gitCheckout', result);

          this.$store.dispatch('gitCheckout', result);
        })
        .catch(() => {
          // Do nothing on error, just prevent error on console
        });
    },
  },
};
</script>
<style scoped>
.button-container {
  align-items: stretch;
  min-width: 200px;
}
</style>